img {
    height: 150px;
    width: 150px;
    margin-left: 40px;
    margin-top: 20px;
}

h1 {
    font-size: 70px;
    margin-left: 70px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0db5f0
    ;
}